{#
/**
 * @file
 * Theme override to display a node.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'content-header',
  ]
%}
<article{{ attributes.addClass(classes)|without('role') }}>
  {{ title_suffix }}

  {% if node.field_header_paragraphs.value %}
    <div class="blog__header-paragraphs">
      {{ content.field_header_paragraphs }}
    </div>
  {% endif %}

  <div class="blog__header header skin--background-primary skin--font-header row">
    <div class="content-header__media-info"></div>
    {# date #}
    <div class="blog__header-date field col-xs-12"{{ content.field_blog_date|quickedit_attr }}>{{ content.field_blog_date|field_value }}</div>

    <div class="content-header__text col-xs-12">
      <h2>{{ label }}</h2>
      {% if content.field_teaser_sub_title %}
        <h3 class="normal-page__teaser-sub-title"{{ content.field_teaser_sub_title|quickedit_attr }}>
          {{ content.field_teaser_sub_title|field_value }}
        </h3>
      {% endif %}
      {% if content.field_teaser_text %}
        <div class="normal-page__teaser-text"{{ content.field_teaser_text|quickedit_attr }}>
          {{ content.field_teaser_text|field_value }}
        </div>
      {% endif %}
    </div>

    {# Tags #}
    {% if content.field_tags|field_value %}
      <div class="tags col-xs-12">
        {{ content.field_tags }}
      </div>
    {% endif %}

    {# Social media sharing #}
    {% if node.field_social_media and node.field_social_media.value == '1' %}
      {% if content.shariff_field %}
        <div class="sharing col-xs-12">
          {{ content.shariff_field }}
        </div>
      {% endif %}
    {% endif %}
  </div>

  <div class="blog__content content">
    <div class="blog__content-author">{{ content.field_blog_author|field_value }}</div>
    {% if node.field_content_paragraphs.value %}
      <div class="blog__content-paragraphs">
        {{ content.field_content_paragraphs|field_value }}
      </div>
    {% endif %}
  </div>
</article>
